:root {
  --ifm-color-primary: #0998d9;
  --ifm-color-primary-dark: #0889c3;
  --ifm-color-primary-darker: #0881b8;
  --ifm-color-primary-darkest: #066a97;
  --ifm-color-primary-light: #1aa7e8;
  --ifm-color-primary-lighter: #2baeea;
  --ifm-color-primary-lightest: #51bfef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #2baeea;
  --ifm-color-primary-dark: #14a3e6;
  --ifm-color-primary-darker: #0f9bdd;
  --ifm-color-primary-darkest: #0c80b6;
  --ifm-color-primary-light: #4abbee;
  --ifm-color-primary-lighter: #5ec3f0;
  --ifm-color-primary-lightest: #8ad5f5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
